<div class="celeb-keyword-movie-details">
    <!--<pre>{{celebKeyWordMovies | json}}</pre>-->
    <br/>
    <div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div ng-repeat="item in selectedCelebsDetails">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="celeb-keyword-movie-profile">
                        <img ng-src='https://image.tmdb.org/t/p/w185{{item.profile_path}}' class="celeb-keyword-movie-details-celeb-image" alt={{item.name}}>
                        <h4>{{item.name}}</h4>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-5 filter-options">
                   <!-- <h3 ng-if="selectedCelebsDetails.length>1">Filter Actor</h3>
                    <input ng-if="selectedCelebsDetails.length>1" type="text" ng-model="celebName" class="form-control celeb-keyword-movie-details-searchBox" placeholder="Enter Celeb Name ...">-->
                    <h3  ng-show="selectedCelebs.length>1">Filter Actor</h3>
                    <input ng-show="selectedCelebs.length>1" type="text" ng-model="celebName" class="form-control celeb-keyword-movie-details-searchBox" placeholder="Enter Celeb Name ...">
                    <h3>Filter Rating</h3>
                    <!--<input type="text" ng-model="voteAverage" class="form-control celeb-keyword-movie-details-searchBox" placeholder="Enter Rating  ...">-->
                    <rating ng-show="data.cb2" ng-model="voteAverage" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
                    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly && data.cb2">{{overStar}}</span>
                    <md-switch ng-model="data.cb2" aria-label="Switch 2">
                    </md-switch>
                    <h3>Filter keywords</h3>
                    <input type="text" ng-model="keyword" class="form-control celeb-keyword-movie-details-searchBox" placeholder="Enter Keyword ...">
                    <md-switch ng-model="data.cb1" aria-label="Switch 1">
                        Details for All
                    </md-switch>
                    <md-progress-circular  class="md-hue-2 list-loading" ng-if="isLoadingDetails" md-mode="indeterminate"></md-progress-circular>
                </div>
                <!-- <div class="col-lg-5 col-md-5 col-sm-5">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-9415948267361066"
                         data-ad-slot="1532811831"
                         data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div> -->
            </div>
        </div>
    </div>
    <div>
      <h1 class="celeb-index-title">Movies</h1>
      <md-progress-circular class="md-hue-2 list-loading" ng-if="isLoading" md-mode="indeterminate"></md-progress-circular>
      <div ng-if="celebKeyWordMovies" ng-repeat="movie in celebKeyWordMovies| filter:{ celebName: celebName, keywords:{name: keyword}} | filter:rateFilter(voteAverage) | orderBy:'-release_date' ">
          <!--<pre>{{movie|json}}</pre>-->
          <keyword-card header="movie.original_title"
                        image="https://image.tmdb.org/t/p/w185{{movie.poster_path}}"
                        id="movie.id"
                        celeb-id="movie.celebId"
                        celeb-profile-path="https://image.tmdb.org/t/p/w45{{movie.celebProfilePath}}"
                        celeb-name="movie.celebName"
                        details-toggle="data.cb1"
                        together-flag="togetherFlag"
                        trailer="movie.trailer"
                        vote-average="movie.vote_average"
                        budget="movie.budget"
                        revenue="movie.revenue"
                        body="movie.keywords"
                        release-date="movie.release_date">
          </keyword-card>
          <div ng-if="($index+1)%4===0" class="empty-box">
              &nbsp;
          </div>
      </div>
    </div>
</div>